<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of book comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .comments, .comments td {
            border: 1px solid #000000;
            padding: 5px;
        }
    </style>
</head>

<body>

<h1 th:text="${book.name} + ' comments:'">bookName comments:</h1>

<p><a th:href="@{/books/list}" href="../books/list.html">Back to book list</a></p>

<table class="comments">
    <a th:href="@{/comments/add(bookId=${book.id})}" href="../comments/add.html">Add comment</a>
    <thead>
    <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment:${commentList}">
        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.userName}">Vasya</td>
        <td th:text="${comment.text}">gk/am</td>
    </tr>
    </tbody>
</table>
</body>
</html>
