<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="delete-form" th:action="@{/books/delete(id=${book.id})}" th:method="post" action="list.html">
    <h1>Person Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" readonly="readonly" th:value="${book.name}" value="Fahrenheit 451"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text" readonly="readonly" th:value="${book.genre}" value="Dystopian Fiction"/>
    </div>

    <div class="row">
        <label for="authors-input">Authors:</label>
        <input id="authors-input" name="authors" type="text" readonly="readonly" th:value="${book.authors}" value="Ray Bradbury"/>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
    </div>
</form>

</body>
</html>
