<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDao" class="ru.QuizDaoImpl">
        <constructor-arg name="questionsFileName" value="questions.csv"/>
        <constructor-arg name="commaDelimiter" value=","/>
    </bean>

    <bean id="quizService" class="ru.QuizServiceImpl">
        <constructor-arg name="quizDao" ref="quizDao"/>
    </bean>

</beans>
